@charset "UTF-8";
[type="text"], [type="radio"], [type="checkbox"], [type="submit"], [type="password"], [type="number"], [type="date"], .lightbox-block2 .inlightbox-form2 input, .lightbox-block3 .inlightbox-form3 ul li input, .lightbox-block3 .inlightbox-form3 ul li:last-child input, input, .demo-input1, .demo-input2, .demo-input3, .demo-input4, .demo-input5, .demo-input6, .demo-input7, .demo-select, .demo-textarea {
  vertical-align: middle;
  border-radius: 5px;
  border: 1px solid #221814;
  background: #fefefe;
}

:hover[type="text"], :hover[type="radio"], :hover[type="checkbox"], :hover[type="submit"], :hover[type="password"], :hover[type="number"], :hover[type="date"], .lightbox-block2 .inlightbox-form2 input:hover, .lightbox-block3 .inlightbox-form3 ul li input:hover, input:hover, .demo-input1:hover, .demo-input2:hover, .demo-input3:hover, .demo-input4:hover, .demo-input5:hover, .demo-input6:hover, .demo-input7:hover, .demo-select:hover, .demo-textarea:hover {
  border-color: #16181D;
}

:active[type="text"], :active[type="radio"], :active[type="checkbox"], :active[type="submit"], :active[type="password"], :active[type="number"], :active[type="date"], .lightbox-block2 .inlightbox-form2 input:active, .lightbox-block3 .inlightbox-form3 ul li input:active, input:active, .demo-input1:active, .demo-input2:active, .demo-input3:active, .demo-input4:active, .demo-input5:active, .demo-input6:active, .demo-input7:active, .demo-select:active, .demo-textarea:active {
  border-color: #221814;
}

:focus[type="text"], :focus[type="radio"], :focus[type="checkbox"], :focus[type="submit"], :focus[type="password"], :focus[type="number"], :focus[type="date"], .lightbox-block2 .inlightbox-form2 input:focus, .lightbox-block3 .inlightbox-form3 ul li input:focus, input:focus, .demo-input1:focus, .demo-input2:focus, .demo-input3:focus, .demo-input4:focus, .demo-input5:focus, .demo-input6:focus, .demo-input7:focus, .demo-select:focus, .demo-textarea:focus {
  outline: 0 none;
  border-color: #221814;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Tahoma", sans-serif, "微軟正黑體", sans-serif;
  color: #fefefe;
  background-image: url("../img/diveinbg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body .container {
  width: 100%;
}

img {
  max-width: 100%;
  width: 100%;
  font-size: 0;
  height: auto;
}

a {
  text-decoration: none;
}

[type="text"] {
  text-align: left;
  margin: 0px 0px;
  padding: 10px 10px;
  font-size: 16px;
  width: 160px;
  height: 30px;
  cursor: auto;
}

[type="radio"] {
  text-align: left;
  margin: 0px 0px;
  padding: 10px 10px;
  font-size: 16px;
  cursor: pointer;
}

[type="checkbox"] {
  text-align: left;
  margin: 0px 0px;
  padding: 10px 10px;
  font-size: 16px;
  cursor: pointer;
  width: 25px;
  height: 30px;
  margin-right: 10px;
}

[type="submit"] {
  text-align: left;
  margin: 0px 0px;
  padding: 10px 10px;
  font-size: 16px;
  width: 150px;
  height: 30px;
  padding: 2px 2px;
  margin: 20px auto;
  text-align: center;
  font-size: 16px;
  color: #fefefe;
  background-color: #176587;
  border: 1px solid #176587;
  border-radius: 5px;
  transition: all 0.2s ease-out;
  box-shadow: 2px 3px 3px #221814;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-box-shadow: 2px 3px 3px #221814;
          box-shadow: 2px 3px 3px #221814;
  cursor: pointer;
  outline: 0 none;
  text-align: center;
  cursor: pointer;
  padding: 2px 2px;
  width: 160px;
  height: 30px;
  border: none;
  box-shadow: 2px 3px 3px #221814;
}

[type="submit"]:hover {
  background-color: #135571;
  border: 1px solid #135571;
  color: #fefefe;
}

[type="submit"]:active {
  background-color: #135571;
  border: none;
  color: #fefefe;
  box-shadow: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

[type="submit"]:focus {
  background-color: #135571;
  border: none;
  outline: none;
}

[type="submit"]:hover {
  background-color: #135571;
  border: 1px solid #135571;
  color: #fefefe;
  border: none;
  outline: 0 none;
}

[type="submit"]:active {
  border-color: #221814;
  box-shadow: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  outline: 0 none;
}

[type="submit"]:focus {
  outline: 0 none;
  border-color: #221814;
}

[type="password"] {
  text-align: left;
  margin: 0px 0px;
  padding: 10px 10px;
  font-size: 16px;
  width: 160px;
  height: 30px;
}

[type="password"]:focus {
  border-color: #221814;
}

[type="number"] {
  text-align: left;
  margin: 0px 0px;
  padding: 10px 10px;
  font-size: 16px;
  width: 160px;
  height: 30px;
}

[type="date"] {
  text-align: left;
  margin: 0px 0px;
  padding: 10px 10px;
  font-size: 16px;
  width: 160px;
  height: 30px;
  padding-left: 0;
  cursor: pointer;
}

/*--------------------------------寫法-----------------------------
//請直接引用公式 
        .class{
            @include breakpoint(填入斷點數字，拜託“不要”加單位){ 開始寫你要的樣式 }
            例：
            @include breakpoint( 1200 ){ display:none }           
        }
＊如果你還是覺得看不懂，可以直接複製下面整串到你要的class名稱裡面，已經幫你寫好所有斷點

.class名稱{
    //正常情況寫這邊

    @include breakpoint (1200) {
        //在1200px區間做變化寫這邊
    }
    @include breakpoint (992) {
        //在991px區間做變化寫這邊  
    }
    @include breakpoint (767) {
        //在768px區間做變化寫這邊
    }
    @include breakpoint (577) {
        //在576px區間做變化寫這邊
    }
    @include breakpoint (376) {
        //在375px區間做變化寫這邊
    }
}
*/
h2 {
  font-size: 40px;
  position: relative;
  display: inline-block;
}

h2::before {
  content: "";
  background: url("../img/h2bubble@2x.png") no-repeat;
  background-size: contain;
  position: absolute;
  display: inline-block;
  top: 20px;
  left: -20px;
  width: 50px;
  height: 50px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 24px;
}

p {
  line-height: 1.12;
  letter-spacing: 3px;
}

header {
  background-color: rgba(254, 254, 254, 0.15);
  display: flex;
  justify-content: space-around;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

header h1, header div, header button {
  vertical-align: middle;
}

h1 {
  font-size: 0;
}

.logo img {
  height: 80px;
  padding: 5px 0;
  width: auto;
}

.nav ul {
  font-size: 0;
}

.nav li {
  font-size: 16px;
  display: inline-block;
  margin: 0 20px;
}

.nav a {
  display: inline-block;
  text-decoration: none;
  color: #fefefe;
  line-height: 25px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.nav a:hover {
  color: #073977;
}

.nav li::before, .nav a {
  vertical-align: middle;
}

.nav.show {
  display: block !important;
}

.nav.hide {
  display: none;
}

.memCart li.show {
  display: inline-block;
}

.memCart li {
  display: inline-block;
  margin: 0 10px;
}

.memCart img {
  width: 30px;
}

.recommend_nav::before, .course_nav::before, .shop_nav::before, .blog_nav::before, .game_nav::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 40px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  margin-right: 7px;
}

.recommend_nav::before {
  background-image: url("../img/header/recmed.png");
}

.course_nav::before {
  background-image: url("../img/header/lesson.png");
}

.shop_nav::before {
  background-image: url("../img/header/shop.png");
}

.blog_nav::before {
  background-image: url("../img/header/blog.png");
}

.game_nav::before {
  background-image: url("../img/header/game.png");
}

.bg {
  background-color: #222;
  height: 100vh;
}

.copyright {
  width: 100%;
  text-align: center;
  padding: 10px 0px;
  background-color: #16181D;
  color: #fefefe;
  font-size: 16px;
}

@media screen and (max-width: 991px) {
  header {
    justify-content: space-between;
    align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0 3%;
  }
  .nav {
    display: none;
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
  }
  .nav li {
    margin: 50px auto;
    display: block;
  }
  li::before, li > a {
    vertical-align: middle;
  }
  a::before {
    vertical-align: middle;
  }
  .memCart {
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translate(-40%);
    -webkit-transform: translate(-40%);
            transform: translate(-40%);
  }
  .memCart li {
    display: none;
  }
  .nav a:hover {
    transform: translateX(-5px);
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

div {
  display: block;
}

.button {
  -webkit-font-smoothing: antialiased;
  background-color: #E6AE2C;
  color: #fefefe;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  letter-spacing: 1px;
  padding: 10px 30px;
  border-radius: 8px;
  text-transform: uppercase;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.button:hover {
  background-color: #fefefe;
  color: #E6AE2C;
}

.button:active {
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
}

.button--bubble {
  position: relative;
  z-index: 2;
  color: #fefefe;
  background: none;
}

.button--bubble:hover {
  background: none;
}

.button--bubble:hover + .button--bubble__effect-container .circle {
  background: #fefefe;
}

.button--bubble:hover + .button--bubble__effect-container .button {
  background: #fefefe;
}

.button--bubble:active + .button--bubble__effect-container {
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
}

.button--bubble__container {
  position: relative;
  display: inline-block;
}

.button--bubble__container .effect-button {
  position: absolute;
  width: 50%;
  height: 25%;
  top: 50%;
  left: 25%;
  z-index: 1;
  transform: translateY(-50%);
  background: #E6AE2C;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background: #E6AE2C;
  -webkit-transition: background 0.1s ease-out;
  transition: background 0.1s ease-out;
}

.button--bubble__effect-container {
  position: absolute;
  display: block;
  width: 200%;
  height: 400%;
  top: -150%;
  left: -50%;
  filter: url("#goo");
  -webkit-filter: url("#goo");
  filter: url("#goo");
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  pointer-events: none;
}

.button--bubble__effect-container .circle {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 15px;
  background: #E6AE2C;
  -webkit-transition: background 0.1s ease-out;
  transition: background 0.1s ease-out;
}

.button--bubble__effect-container .circle.top-left {
  top: 40%;
  left: 27%;
}

.button--bubble__effect-container .circle.bottom-right {
  bottom: 40%;
  right: 27%;
}

.goo {
  position: absolute;
  visibility: hidden;
  width: 1px;
  height: 1px;
}

.button--bubble__container {
  top: 50%;
  margin-top: -25px;
}

@keyframes hue-rotate {
  from {
@-webkit-keyframes hue-rotate {
  from {
    -webkit-filter: hue-rotate(0);
    -moz-filter: hue-rotate(0);
    -ms-filter: hue-rotate(0);
    filter: hue-rotate(0);
  }
  to {
    -webkit-filter: hue-rotate(360deg);
    -moz-filter: hue-rotate(360deg);
    -ms-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}

@keyframes hue-rotate {
  from {
    -webkit-filter: hue-rotate(0);
    -moz-filter: hue-rotate(0);
    -ms-filter: hue-rotate(0);
    filter: hue-rotate(0);
  }
  to {
    -webkit-filter: hue-rotate(360deg);
    -moz-filter: hue-rotate(360deg);
    -ms-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */


.hamburger:hover {
  opacity: 0.7;
}

.hamburger.is-active:hover {
  opacity: 0.7;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #fefefe;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #fefefe;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

/* 3DXY */
.hamburger--3dxy .hamburger-box {
  perspective: 80px;
}

.hamburger--3dxy .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-perspective: 80px;
          perspective: 80px;
}

.hamburger--3dxy .hamburger-inner {
  -webkit-transition: background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dxy .hamburger-inner::before,
.hamburger--3dxy .hamburger-inner::after {
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transition: -webkit-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: -webkit-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.hamburger--3dxy.is-active .hamburger-inner {
  background-color: transparent !important;
  transform: rotateX(180deg) rotateY(180deg);
}

.hamburger--3dxy.is-active .hamburger-inner::before {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--3dxy.is-active .hamburger-inner::after {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  -webkit-transform: rotateX(180deg) rotateY(180deg);
          transform: rotateX(180deg) rotateY(180deg);
}

.hamburger--3dxy.is-active .hamburger-inner::before {
  -webkit-transform: translate3d(0, 10px, 0) rotate(45deg);
          transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--3dxy.is-active .hamburger-inner::after {
  -webkit-transform: translate3d(0, -10px, 0) rotate(-45deg);
          transform: translate3d(0, -10px, 0) rotate(-45deg);
}

.hamburger {
  display: none;
}

@media screen and (max-width: 991px) {
  .hamburger {
    display: inline-block;
    padding-top: 40px;
  }
}

.demo-color1 {
  width: 30px;
  height: 30px;
  background-color: #fefefe;
  color: #fefefe;
  padding-left: 40px;
}

.demo-color2 {
  width: 30px;
  height: 30px;
  background-color: #E6AE2C;
  color: #E6AE2C;
  padding-left: 40px;
}

.demo-color3 {
  width: 30px;
  height: 30px;
  background-color: #073977;
  color: #073977;
  padding-left: 40px;
}

.demo-color4 {
  width: 30px;
  height: 30px;
  background-color: #16181D;
  color: #16181D;
  padding-left: 40px;
}

.demo-color5 {
  width: 30px;
  height: 30px;
  background-color: #221814;
  color: #221814;
  padding-left: 40px;
}

.demo-color6 {
  width: 30px;
  height: 30px;
  background-color: rgba(254, 254, 254, 0.75);
  color: rgba(254, 254, 254, 0.75);
  padding-left: 40px;
}

.demo-tab1 {
  width: 195px;
  height: 60px;
  background-color: none;
  border: 1px solid #fefefe;
  color: #fefefe;
  font-size: 16px;
  text-align: center;
  line-height: 20px;
  padding: 20px;
  margin: 5px;
  cursor: pointer;
}

.demo-tab1:hover {
  background-color: #fefefe;
  border: 1px solid #fefefe;
  color: #073977;
}

.demo-tab1:active, .demo-tab1.-iAmHere {
  background-color: #fefefe;
  color: #073977;
}

.demo-btn {
  width: 150px;
  height: 30px;
  padding: 2px 2px;
  margin: 20px auto;
  text-align: center;
  font-size: 16px;
  color: #fefefe;
  background-color: #176587;
  border: 1px solid #176587;
  border-radius: 5px;
  transition: all 0.2s ease-out;
  box-shadow: 2px 3px 3px #221814;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-box-shadow: 2px 3px 3px #221814;
          box-shadow: 2px 3px 3px #221814;
  cursor: pointer;
  outline: 0 none;
}

.demo-btn:hover {
  background-color: #135571;
  border: 1px solid #135571;
  color: #fefefe;
}

.demo-btn:active {
  background-color: #135571;
  border: none;
  color: #fefefe;
  box-shadow: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.demo-btn:focus {
  background-color: #135571;
  border: none;
  outline: none;
}

.lightbox-block1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(2, 2, 2, 0.7);
  opacity: 0;
  z-index: -1;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.lightbox-block1.-openbox {
  opacity: 1;
  z-index: 3;
}

.lightbox-block1.-opacity-zero {
  opacity: 0;
}

.lightbox-block1 .lightbox1 {
  width: 70%;
  max-width: 800px;
  background-color: #fefefe;
  border-radius: 5px;
  color: #073977;
  text-align: center;
  padding: 30px 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.lightbox-block1 .button_closeBox1 {
  display: block;
  margin-left: auto;
  text-align: right;
  text-transform: none;
  text-indent: 0px;
}

.lightbox-block1 .button_closeBox1 .btn_modal_close {
  text-shadow: none;
  right: 5px;
  top: 3px;
  width: 35px;
  height: 35px;
  color: #16181D;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  margin-left: auto;
}

.lightbox-block2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(2, 2, 2, 0.7);
  opacity: 0;
  z-index: -1;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.lightbox-block2.-openbox {
  opacity: 1;
  z-index: 3;
}

.lightbox-block2.-opacity-zero {
  opacity: 0;
}

.lightbox-block2 .lightbox2 {
  width: 70%;
  max-width: 800px;
  background-color: #fefefe;
  border-radius: 5px;
  color: #073977;
  text-align: center;
  padding: 30px 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.lightbox-block2 .button_closeBox2 {
  display: block;
  margin-left: auto;
  text-align: right;
  text-transform: none;
  text-indent: 0px;
}

.lightbox-block2 .button_closeBox2 .btn_modal_close {
  text-shadow: none;
  right: 5px;
  top: 3px;
  width: 35px;
  height: 35px;
  color: #16181D;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  margin-left: auto;
}

.lightbox-block2 .inlightbox-form2 {
  display: flex;
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
}

.lightbox-block2 .inlightbox-form2 input {
  text-align: left;
  margin: 0px 0px;
  padding: 10px 10px;
  font-size: 16px;
  width: 150px;
  height: 30px;
  padding: 2px 2px;
  margin: 20px auto;
  text-align: center;
  font-size: 16px;
  color: #fefefe;
  background-color: #176587;
  border: 1px solid #176587;
  border-radius: 5px;
  transition: all 0.2s ease-out;
  box-shadow: 2px 3px 3px #221814;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-box-shadow: 2px 3px 3px #221814;
          box-shadow: 2px 3px 3px #221814;
  cursor: pointer;
  outline: 0 none;
  text-align: center;
  cursor: pointer;
  padding: 2px 2px;
  width: 160px;
  height: 30px;
  border: none;
  box-shadow: 2px 3px 3px #221814;
}

.lightbox-block2 .inlightbox-form2 input:hover {
  background-color: #135571;
  border: 1px solid #135571;
  color: #fefefe;
}

.lightbox-block2 .inlightbox-form2 input:active {
  background-color: #135571;
  border: none;
  color: #fefefe;
  box-shadow: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.lightbox-block2 .inlightbox-form2 input:focus {
  background-color: #135571;
  border: none;
  outline: none;
}

.lightbox-block2 .inlightbox-form2 input:hover {
  background-color: #135571;
  border: 1px solid #135571;
  color: #fefefe;
  border: none;
  outline: 0 none;
}

.lightbox-block2 .inlightbox-form2 input:active {
  border-color: #221814;
  box-shadow: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  outline: 0 none;
}

.lightbox-block2 .inlightbox-form2 input:focus {
  outline: 0 none;
  border-color: #221814;
}

.lightbox-block3 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(2, 2, 2, 0.7);
  opacity: 0;
  z-index: -1;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.lightbox-block3.-openbox {
  opacity: 1;
  z-index: 3;
}

.lightbox-block3.-opacity-zero {
  opacity: 0;
}

.lightbox-block3 .lightbox3 {
  width: 70%;
  max-width: 800px;
  background-color: #fefefe;
  border-radius: 5px;
  color: #073977;
  text-align: center;
  padding: 30px 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.lightbox-block3 .button_closeBox3 {
  display: block;
  margin-left: auto;
  text-align: right;
  text-transform: none;
  text-indent: 0px;
}

.lightbox-block3 .button_closeBox3 .btn_modal_close {
  text-shadow: none;
  right: 5px;
  top: 3px;
  width: 35px;
  height: 35px;
  color: #16181D;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  margin-left: auto;
}

.lightbox-block3 .inlightbox-form3 {
  display: flex;
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
}

.lightbox-block3 .inlightbox-form3 ul {
  display: block;
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.lightbox-block3 .inlightbox-form3 ul li {
  display: block;
  text-align: center;
}

.lightbox-block3 .inlightbox-form3 ul li input {
  text-align: left;
  margin: 0px 0px;
  padding: 10px 10px;
  font-size: 16px;
  cursor: pointer;
  width: 25px;
  height: 30px;
  margin-right: 10px;
}

.lightbox-block3 .inlightbox-form3 ul li:last-child input {
  text-align: left;
  margin: 0px 0px;
  padding: 10px 10px;
  font-size: 16px;
  width: 150px;
  height: 30px;
  padding: 2px 2px;
  margin: 20px auto;
  text-align: center;
  font-size: 16px;
  color: #fefefe;
  background-color: #176587;
  border: 1px solid #176587;
  border-radius: 5px;
  transition: all 0.2s ease-out;
  box-shadow: 2px 3px 3px #221814;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-box-shadow: 2px 3px 3px #221814;
          box-shadow: 2px 3px 3px #221814;
  cursor: pointer;
  outline: 0 none;
  text-align: center;
  cursor: pointer;
  padding: 2px 2px;
  width: 160px;
  height: 30px;
  border: none;
  box-shadow: 2px 3px 3px #221814;
}

.lightbox-block3 .inlightbox-form3 ul li:last-child input:hover {
  background-color: #135571;
  border: 1px solid #135571;
  color: #fefefe;
}

.lightbox-block3 .inlightbox-form3 ul li:last-child input:active {
  background-color: #135571;
  border: none;
  color: #fefefe;
  box-shadow: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.lightbox-block3 .inlightbox-form3 ul li:last-child input:focus {
  background-color: #135571;
  border: none;
  outline: none;
}

.lightbox-block3 .inlightbox-form3 ul li:last-child input:hover {
  background-color: #135571;
  border: 1px solid #135571;
  color: #fefefe;
  border: none;
  outline: 0 none;
}

.lightbox-block3 .inlightbox-form3 ul li:last-child input:active {
  border-color: #221814;
  box-shadow: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  outline: 0 none;
}

.lightbox-block3 .inlightbox-form3 ul li:last-child input:focus {
  outline: 0 none;
  border-color: #221814;
}

input {
  text-align: left;
  margin: 0px 0px;
  padding: 10px 10px;
  font-size: 16px;
}

.demo-input1 {
  text-align: left;
  margin: 0px 0px;
  padding: 10px 10px;
  font-size: 16px;
  width: 150px;
  height: 30px;
  cursor: auto;
}

.demo-input2 {
  text-align: left;
  margin: 0px 0px;
  padding: 10px 10px;
  font-size: 16px;
  cursor: pointer;
}

.demo-input3 {
  text-align: left;
  margin: 0px 0px;
  padding: 10px 10px;
  font-size: 16px;
  cursor: pointer;
  width: 25px;
  height: 30px;
  margin-right: 10px;
}

.demo-input4 {
  text-align: left;
  margin: 0px 0px;
  padding: 10px 10px;
  font-size: 16px;
  width: 150px;
  height: 30px;
  padding: 2px 2px;
  margin: 20px auto;
  text-align: center;
  font-size: 16px;
  color: #fefefe;
  background-color: #176587;
  border: 1px solid #176587;
  border-radius: 5px;
  transition: all 0.2s ease-out;
  box-shadow: 2px 3px 3px #221814;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-box-shadow: 2px 3px 3px #221814;
          box-shadow: 2px 3px 3px #221814;
  cursor: pointer;
  outline: 0 none;
  text-align: center;
  cursor: pointer;
  padding: 2px 2px;
  width: 150px;
  height: 30px;
  border: none;
  box-shadow: 2px 3px 3px #221814;
}

.demo-input4:hover {
  background-color: #135571;
  border: 1px solid #135571;
  color: #fefefe;
}

.demo-input4:active {
  background-color: #135571;
  border: none;
  color: #fefefe;
  box-shadow: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.demo-input4:focus {
  background-color: #135571;
  border: none;
  outline: none;
}

.demo-input4:hover {
  background-color: #135571;
  border: 1px solid #135571;
  color: #fefefe;
  border: none;
  outline: 0 none;
}

.demo-input4:active {
  border-color: #221814;
  box-shadow: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  outline: 0 none;
}

.demo-input4:focus {
  outline: 0 none;
  border-color: #221814;
}

.demo-input5 {
  text-align: left;
  margin: 0px 0px;
  padding: 10px 10px;
  font-size: 16px;
  width: 150px;
  height: 30px;
}

.demo-input5:focus {
  border-color: #221814;
}

.demo-input6 {
  text-align: left;
  margin: 0px 0px;
  padding: 10px 10px;
  font-size: 16px;
  width: 150px;
  height: 30px;
}

.demo-input7 {
  text-align: left;
  margin: 0px 0px;
  padding: 10px 10px;
  font-size: 16px;
  width: 150px;
  height: 30px;
  padding-left: 0;
  cursor: pointer;
}

.demo-cards {
  width: 300px;
  margin: 30px 20px;
  padding: 20px 20px;
  box-shadow: 7px, 7px, 7px rgba(254, 254, 254, 0.75);
  -webkit-box-shadow: 7px, 7px, 7px rgba(254, 254, 254, 0.75);
          box-shadow: 7px, 7px, 7px rgba(254, 254, 254, 0.75);
  border: 1px solid #fefefe;
}

.demo-cards img {
  width: 100%;
  max-width: 100%;
}

.demo-select {
  vertical-align: top;
  width: 150px;
  height: 30px;
  font-size: 16px;
}

.demo-textarea {
  width: 300px;
  height: 25px;
  vertical-align: top;
}

.demo-textarea:focus {
  border-color: #221814;
}

.shop .shop_nav a {
  color: #073977;
}

.shop .bgBlack {
  width: 80%;
  margin: auto;
  background-color: rgba(22, 24, 29, 0.9);
}

.shop .bgBlack .shopH2 {
  text-align: center;
  padding: 30px 0;
}

.shop .oneee {
  margin-top: 60px;
}

.shop .itemType {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.shop .itemType ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 1200px;
}

.shop .itemType ul li {
  width: 10%;
  text-align: center;
  border: 2px solid #fefefe;
  font-size: 16px;
  margin: 20px;
  padding: 8px 10px;
  color: #fefefe;
  cursor: pointer;
}

.shop .itemType ul li:hover {
  background-color: #fefefe;
  color: #073977;
}

.shop .itemList {
  margin: auto;
  position: relative;
}

.shop .itemList .demomanIn {
  width: 150px;
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.shop .product {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.shop .productUp,
.shop .productDown {
  color: #fefefe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.shop .productDown {
  padding-bottom: 100px;
}

.shop .art {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
  border: 2px solid seashell;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
  margin: 15px;
}

.shop .art .itemName,
.shop .art .NT {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin: 10px;
}

.shop .art .NT {
  font-weight: 400;
}

.shop .art .addNumber {
  text-align: center;
  margin-bottom: 20px;
}

.shop .art .addNumber input {
  width: 75px;
  text-align: center;
}

.shop .art .addNumber .fas {
  cursor: pointer;
}

.shop .art .fa-heart {
  position: absolute;
  top: 7%;
  right: 7%;
  cursor: pointer;
  font-size: 24px;
}

.shop .item img {
  width: 150px;
  padding: 30px;
}

.shop .shopBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 5px auto;
  text-align: center;
}

.shop .bubbleBtn {
  width: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 10px;
}

.shop .button {
  padding: 12px 10px;
  font-size: 12px;
}

.shop .button--bubble__container {
  width: 100%;
}

/*後台樣式*/
.back {
  background-color: #03162f;
  background-image: none;
  color: #fefefe;
}

.back img {
  max-width: 100%;
}

.back .switch {
  /* ====================ios toggle按鈕 ==================== */
  position: relative;
  display: inline-block;
  width: 50px;
  height: 30px;
}

.back .switch input {
  /* Hide default HTML checkbox */
  opacity: 0;
  width: 0;
  height: 0;
}

.back .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.back .slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.back input:checked + .slider {
  background-color: #2ecc71;
}

.back input:focus + .slider {
  box-shadow: 0 0 1px #2ecc71;
}

.back input:checked + .slider:before {
  transform: translateX(23px);
  -webkit-box-shadow: 0 0 1px #2ecc71;
          box-shadow: 0 0 1px #2ecc71;
}

.back input:checked + .slider:before {
  -webkit-transform: translateX(23px);
          transform: translateX(23px);
}

.back .slider.round {
  /* Rounded sliders */
  border-radius: 34px;
}

.back .slider.round:before {
  border-radius: 50%;
}

.back .btn {
  /* ==================== simple btn ==================== */
  margin: 0 20px;
  border-color: #fefefe;
  font-size: 16px;
  border-radius: 7px;
  letter-spacing: 3px;
  font-family: "微軟正黑體", sans-serif;
  background-color: #03162f;
  color: #fefefe;
  padding: 8px 32px;
}

.back .btn:hover {
  border-color: #fefefe;
  background: #fefefe;
  cursor: pointer;
  color: #03162f;
}

.back input {
  /* ==================== input ==================== */
  background: #fefefe;
  padding: 3px 2px;
  border-radius: 5px;
}

.back .backHeader {
  /* ==================== header 區域 ==================== */
  width: 100%;
  position: sticky;
  top: 0;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.back .backHeader img[alt=logo] {
  height: 80px;
  padding: 7px 0;
  width: auto;
  margin-left: 50px;
}

.back .backHeader .profile p {
  display: inline-block;
  line-height: 80px;
  color: #fefefe;
}

.back .tab_container {
  /* ==================== 頁籤區塊 ==================== */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.back .tab_container .tab_list_block {
  padding-left: 50px;
  display: inline-block;
}

.back .tab_container .tab_list_block li {
  width: 125px;
}

.back .tab_list li a {
  /* 頁籤列表 */
  text-decoration: none;
  display: inline-block;
  padding: 13px 5px;
  color: #fefefe;
}

.back .tab_list li a.-on {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#E6AE2C));
  background-image: linear-gradient(#E6AE2C);
  background-position: 0% 70%;
  background-size: 100% 20%;
  background-repeat: no-repeat;
}

.back .tab_contents {
  /* 頁籤內容區塊 */
}

.back .tab_contents .tab {
  padding: 10px;
  display: none;
}

.back .tab_contents .tab.-on {
  display: block;
}

.back table {
  /* ==================== table ==================== */
  margin: 20px;
}

.back th,
.back td {
  border-top: 1px solid #fefefe;
  padding: 15px;
  vertical-align: middle;
}

.back table tr:last-child td {
  border-bottom: 1px solid #fefefe;
}

.back input[type=password] {
  width: 150px;
}
/*# sourceMappingURL=style.css.map */