<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TimelineLite.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <title>海中日子 | 新增日誌</title>
</head>

<body class="diary">
    @@include('./layout/header.html')

    <!-- 新增日誌 Title -->
    <div class="diaryAddTitleH3">
        <!-- 規範h3 -->
        <h3>新增日誌<i class="fas fa-pencil-alt"></i></h3>
        <!-- 規範btn -->
        <div class="diaryAdd_controlBtn">
            <div class="bubbleBtn">
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="goo">
                    <defs>
                        <filter id="goo">
                            <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
                            <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9"
                                result="goo" />
                            <feComposite in="SourceGraphic" in2="goo" />
                        </filter>
                    </defs>
                </svg>
                <span class="button--bubble__container">
                    <a href="./diary.html" class="button button--bubble">
                        回到我的日誌
                    </a>
                    <span class="button--bubble__effect-container">
                        <span class="circle top-left"></span>
                        <span class="circle top-left"></span>
                        <span class="circle top-left"></span>
                        <span class="button effect-button"></span>
                        <span class="circle bottom-right"></span>
                        <span class="circle bottom-right"></span>
                        <span class="circle bottom-right"></span>
                    </span>
                </span>
            </div>
        </div>
    </div>



    <!-- 篩選 -->
    <div class="diaryAdd_formAddAll">
        <form action="" class="formf" id="formName">
            <div class="diaryAddA"> <!-- 區塊A_日誌-->
                <!-- 日誌名稱 -->
                <div class="diaryAddName">
                    <p>日誌名稱<span> *</span></p>
                    <input type="text" placeholder="請輸入日誌名稱" onfocus="this.placeholder=''" onblur="this.placeholder='請輸入日誌名稱'">
                </div>
                <!-- 日誌類型 -->
                <div class="diaryAddType">
                    <p>日誌類型<span> *</span></p>
                    <select name="" id="">
                        <option value="no">選擇類型</option>
                        <option value="0">旅遊潛水</option>
                        <option value="1">課程潛水</option>
                    </select>
                </div>
                
                <!-- 潛水區域 -->
                <div class="diaryAddArea">
                    <p>潛水區域<span> *</span></p>
                    <select id="diveArea" v-model="value">
                        <option v-for="i in options" :value="i.value" :key="i.value">
                            {{ i.text }}
                        </option>
                    </select>
                </div>
                
                <!-- 潛水地點 -->
                <div class="diaryAddPlace">
                    <p>潛水地點<span> *</span></p>
                    <label v-for="item in show" :key="item.key"><p><input type="checkbox" :name="item.value" :value="item.value" />{{ item.value }}</p></label>
                    
                </div>
                <!-- 潛水時間 -->
                <div class="diaryAddTime">
                    <p>潛水時間<span> *</span></p>
                    <input type="number" placeholder="1.0" step="0.5" min="0">分鐘<!-- 允許小數1位 -->
                </div>
                <!-- 入水日期 -->
                <div class="diaryDate">
                    <p>入水日期<span> *</span></p>
                    <input type="date">
                </div>
            </div>
            
            <div class="climate"> <!-- 區塊B_氣候條件 -->
                <p class="climateP">氣候條件</p>
                <div class="climateflex">
                    <div class="climateA">
                        <div>
                            <p><i class="fas fa-sun"></i>當日天氣</p>
                            <select name="" id="">
                                <option value="no">選擇天氣</option>
                                <option value="sunny">晴</option>
                                <option value="cloudy">陰</option>
                                <option value="rainy">雨</option>
                            </select>
                        </div>
                        <div>
                            <p><i class="fas fa-eye"></i>能&nbsp;見&nbsp;度</p>
                            <input type="number" placeholder="1.0" step="0.5" min="0"><!-- 允許小數1位 -->
                        </div>
                    </div>
                    <div class="climateB">
                        <div>
                            <p><i class="fas fa-temperature-high"></i>當日氣溫</p>
                            <input type="number" placeholder="1.0" step="0.5" >度<!-- 允許小數1位 -->
                        </div>
                        <div>
                            <p><i class="fas fa-temperature-low"></i>最低水溫</p>
                            <input type="number" placeholder="1.0" step="0.5" >度<!-- 允許小數1位 -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="biological"> <!-- 區塊C_遇見生物 -->
                <p class="biologicalP">遇見生物</p>
                <div class="panel">
                    <div class="diaryAddBiological">
                        <i class="fas fa-book"></i>
                        <div class="demo-btn mainBtn_3 biologicalBtnCssAnn">選擇圖鑑</div>
                    </div>
                    <div class="biologicalAddImg" id="biologicalAddImg">
                        <!-- innerHTML = img -->
                    </div>
                    <div class="biologicalCssaAnn lightbox-block3">
                        <div class="biologicalCssbAnn lightbox3">
                            <div class="button_closeBox3">
                                <button type="button" class="btn_modal_close">✖</button>
                            </div>
                            <h3>生物圖鑑</h3>
                            <div class="biologicalCsscAnn inlightbox-form3">
                                <ul>
                                    <li><label><input id="animal1" name="animals" value="1" type="checkbox"><img src="./img/diary/animal1.png" id="animalImg1"></label></li>
                                    <li><label><input id="animal2" name="animals" value="2" type="checkbox"><img src="./img/diary/animal2.png" id="animalImg2"></label></li>
                                    <li><label><input id="animal3" name="animals" value="3" type="checkbox"><img src="./img/diary/animal3.png" id="animalImg3"></label></li>
                                    <li><label><input id="animal4" name="animals" value="4" type="checkbox"><img src="./img/diary/animal4.png" id="animalImg4"></label></li>
                                    <li><label><input id="animal5" name="animals" value="5" type="checkbox"><img src="./img/diary/animal5.png" id="animalImg5"></label></li>
                                    <li><label><input id="animal6" name="animals" value="6" type="checkbox"><img src="./img/diary/animal6.png" id="animalImg6"></label></li>
                                    <li><label><input id="animal7" name="animals" value="7" type="checkbox"><img src="./img/diary/animal7.png" id="animalImg7"></label></li>
                                    <li><label><input id="animal8" name="animals" value="8" type="checkbox"><img src="./img/diary/animal8.png" id="animalImg8"></label></li>
                                    <li><label><input id="animal9" name="animals" value="9" type="checkbox"><img src="./img/diary/animal9.png" id="animalImg9"></label></li>
                                    <li><label><input id="animal10" name="animals" value="10" type="checkbox"><img src="./img/diary/animal10.png" id="animalImg10"></label></li>
                                    <li><label><input id="animal11" name="animals" value="11" type="checkbox"><img src="./img/diary/animal11.png" id="animalImg11"></label></li>
                                    <li><label><input id="animal12" name="animals" value="12" type="checkbox"><img src="./img/diary/animal12.png" id="animalImg12"></label></li>
                                    <li><input id="biologicalBtnJSAnn" class="submitbtn3" name="" type="button" value="選擇"></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="process"> <!-- 區塊D_潛水過程 -->
                <p class="processP">潛水過程</p>
                <div class="processrange">
                    <p>深度(M)</p>
                    <div class="rangeBlock">
                        <!--深度柯度-->
                        <div class="depthBlock">  
                            <span>0</span>
                            <span>10</span>
                            <span>20</span>
                            <span>30</span>
                            <span>40</span>
                            <span>50</span>
                        </div>
                        <!--拉桿區-->
                        <div class="Block">
                            <div class="annBlock">
                                <div class="ann">
                                    <input class="range" type="range" min="0" max="50" value="0" step="1" onmousemove="rangevalue.value=value" ontouchmove="rangevalue.value=value"/>
                                    <output id="rangevalue"></output>
                                </div>
                                <div class="ann">
                                    <input class="range" type="range" min="0" max="50" value="0" step="1" onmousemove="rangevalue2.value=value" ontouchmove="rangevalue2.value=value"/>
                                    <output id="rangevalue2"></output>
                                </div>
                                <div class="ann">
                                    <input class="range" type="range" min="0" max="50" value="0" step="1" onmousemove="rangevalue3.value=value" ontouchmove="rangevalue3.value=value"/>
                                    <output id="rangevalue3"></output>
                                </div>
                                <div class="ann">
                                    <input class="range" type="range" min="0" max="50" value="0" step="1" onmousemove="rangevalue4.value=value" ontouchmove="rangevalue4.value=value"/>
                                    <output id="rangevalue4"></output>
                                </div>
                                <div class="ann">
                                    <input class="range" type="range" min="0" max="50" value="0" step="1" onmousemove="rangevalue5.value=value" ontouchmove="rangevalue5.value=value"/>
                                    <output id="rangevalue5"></output>
                                </div>
                            </div>
                            <!--潛水時間長度-->
                            <div class="timeBlock">
                                <span class="zone">0</span>
                                <!-- to: ann~ 這邊的span裡面要放以使用者填寫潛水時間的平均分鐘數 --> 
                                <span>10</span>
                                <span>20</span>
                                <span>30</span>
                                <span>40</span>
                                <span>50</span>
                            </div>
                            <p>分鐘(m)</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="diaryAddImg"> <!-- 區塊E_潛水照片 -->
                <p class="diaryAddImgP">潛水照片</p>
                <div>
                    <p><i class="fas fa-camera-retro"></i>
                        <label for="fileBtn" class="demo-btn" >上傳照片</label>
                        <input type="file" name="fileBtn" id="fileBtn" >
                    </p>
                </div>
            </div>

            <div class="diaryAddContent"> <!-- 區塊F_內容撰寫 -->
                <p class="diaryAddContentP">內容撰寫</p>
                <div class="diaryAddText">
                    <textarea name="" id="" cols="30" rows="10"></textarea>
                </div>
            </div>

            <p class="submitData"><input class="allData demo-btn" type="submit" value="新增日誌"></p>

        </form>
    </div>
    
    @@include('./layout/footer.html')
    <!-- js要修改 -->
    <script src="./js/jquery.ripples.js"></script>
    <script src="./js/diaryAdd.js"></script>
</body>
</html>