<!DOCTYPE html>
<html lang="zh-Hant">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./img/favicon.ico" type="image/x-icon" />
    <link rel="Shortcut Icon" href="./img/favicon.ico" type="image/x-icon" />
    <title>海中日子 | 會員中心</title>
<link rel="stylesheet" href="./css/style.css">
<link rel="stylesheet" href="./fontawesome/css/all.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.4.3/css/ol.css">
<script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.4.3/build/ol.js"></script>

</head>

<body class="member">
    @@include('./layout/header.html')
    <div class="memberMain" id="app">
        <div class="memberAsideMenu">
            <div class="memberAsideMenuTitle"><a href="./trainerCenter.html">會員中心</a></div>
            <div class="memberOption" v-for="user in users">
                <p>Hello, {{ user.memName }}</p>
                <div class="memberFile"><img src="./img/member/member/testg2.jpg"></div>
                <ul class="memberPointPhone">
                    <li><p>紅利點數：</p><span>{{ user.points }}</span></li>
                    <li><p>遊戲分數：</p><span>{{ user.memGamePoint }}</span></li>
                </ul>
                <ul class="memberInformation">
                    <li><a href="javascript:;" class="show_mif">個人資料</a></li>
                    <li><a href="javascript:;" class="show_cpw">密碼修改</a></li>
                    <li>
                        <label for="memberImgFile">更換頭像</label>
                        <input type="file" id="memberImgFile" name="memberImgFile" accept="image/png, image/jpeg">
                    </li>
                </ul>
                <ul class="memberPoint">
                    <li><p>紅利點數：</p><span>{{ user.points }}</span></li>
                    <li><p>遊戲分數：</p><span>{{ user.memGamePoint }}</span></li>
                </ul>
            </div>
        </div>
        <div class="memberInfo">
            <div class="memberTabArea">
                <div class="memberTabListBlock">
                    <ul class="memberTabList">
                        <li><a href="#" data-target="Dia" class="memberTab -on">日誌</a></li>
                        <li><a href="#" data-target="Cor" class="memberTab">課程</a></li>
                        <li><a href="#" data-target="Tag" class="memberTab">採點</a></li>
                        <li><a href="#" data-target="Ord" class="memberTab">訂單</a></li>
                        <li><a href="#" data-target="Fav" class="memberTab">收藏</a></li>
                    </ul>
                </div>
    
                <div class="memberTabContents" >
    
                    <div class="memberTab Dia -on">
                        <div class="memberCourse" v-for="d in diary">
                            <div class="memberImgContainer">
                                <img :src="('./img/diary/'+d.diaryPicsNo)">
                            </div>
                            <div class="memberCourseInfo">
                                <p>{{ d.diaryName }}</p>
                                <p>潛水時間：{{ d.diaryPlayDate }}</p>
                                <p>潛水地點：{{ d.diveNo }}</p>
                            </div>
                            <div class="memberDiaBtn">
                                <div class="memberDiaEditBtn demo-btn">
                                    <a href="#campaign">
                                        日誌編輯 
                                    </a>
                                </div>
                                <div class="memberDelBtn">
                                    <i class="fas fa-trash DelDia"></i>
                                </div>
                            </div>
                        </div>
                        <!-- <ul class="memberPagination">
                            <li>1</li>
                            <li>2</li>
                            <li>3</li>
                        </ul> -->
                    </div>
    
                    <div class="memberTab Cor">
                        <div class="memberCourse" v-for="dc in diveClass">
                            <div class="memberImgContainer">
                                <img src="./img/member/course/divein_1.jpg">
                            </div>
                            <div class="memberCourseInfo">
                                <p>{{ dc.courseOrderNo }}</p>
                                <p>上課日期：{{ dc.registerDate }}</p>
                                <p>上課地點：{{ dc.classNo }}</p>
                            </div>
                            <div class="memberCorBtn">
                                <div class="memberCorInfBtn demo-btn">
                                    <a href="#campaign">
                                        詳細資訊
                                    </a>
                                </div>
                                <div class="memberCorInfBtn mainBtn_3 demo-btn">
                                    課程評鑑
                                </div>
                            </div>
                        </div>
                        <!-- <ul class="memberPagination">
                            <li>1</li>
                            <li>2</li>
                            <li>3</li>
                        </ul> -->
                        <div class="lightbox-block3">
                            <div class="lightbox3">
                                <div class="button_closeBox3">
                                    <button type="button" class="btn_modal_close">✖</button>
                                </div>
                                <h3>課程評鑑</h3>
                                <form action="#" method="POST" class="inlightbox-form3">
                                    <ul class="pointCheckUl">
                                        <li><p>教練分數：</p></li>
                                        <li class="pointCheckLi">
                                            <div class="pointCheckArea">
                                                <div class="pointCheckColor"></div>
                                                <div class="pointCheckRadio">
                                                    <input id="pl1" type="radio" value="1" name="pl">
                                                    <label for="pl1"><div class="pointCheckStar StarOne"><img src="./img/member/course/star-01.png"></div></label>
                                                    <input id="pl2" type="radio" value="2" name="pl">
                                                    <label for="pl2"><div class="pointCheckStar StarTwo"><img src="./img/member/course/star-01.png"></div></label>
                                                    <input id="pl3" type="radio" value="3" name="pl">
                                                    <label for="pl3"><div class="pointCheckStar StarThree"><img src="./img/member/course/star-01.png"></div></label>
                                                    <input id="pl4" type="radio" value="4" name="pl">
                                                    <label for="pl4"><div class="pointCheckStar StarFour"><img src="./img/member/course/star-01.png"></div></label>
                                                    <input id="pl5" type="radio" value="5" name="pl">
                                                    <label for="pl5"><div class="pointCheckStar StarFive"><img src="./img/member/course/star-01.png"></div></label>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="pointButton"><input class="button btn_modal_close" type="button" value="送出"></li>
                                    </ul>
                                </form>
                            </div>
                        </div>
                    </div>
    
                    <div class="memberTab Tag">
                        <div class="memberTag">
                            <div class="memberTagTabListBlock">
                                <ul class="memberTagTabList">
                                    <li><a href="#" data-target="LD" class="memberTagTab -on">綠島</a></li>
                                    <li><a href="#" data-target="LU" class="memberTagTab">蘭嶼</a></li>
                                    <li><a href="#" data-target="KD" class="memberTagTab">墾丁</a></li>
                                    <li><a href="#" data-target="SLC" class="memberTagTab">小琉球</a></li>
                                    <li><a href="#" data-target="DBG" class="memberTagTab">東北角</a></li>
                                </ul>
                            </div>
                            <div class="memberTagMap memberTagTab LD -on">
                                <div class="memberTagMapArea">
                                    <div id="mapIdLD" class="memberMapId"></div>
                                </div>
                            </div>
                            <div class="memberTagMap memberTagTab LU">
                                <div class="memberTagMapArea">
                                    <div id="mapIdLU" class="memberMapId"></div>
                                </div>
                            </div>
                            <div class="memberTagMap memberTagTab KD">
                                <div class="memberTagMapArea">
                                    <div id="mapIdKD" class="memberMapId"></div>
                                </div>
                            </div>
                            <div class="memberTagMap memberTagTab SLC">
                                <div class="memberTagMapArea">
                                    <div id="mapIdSLC" class="memberMapId"></div>
                                </div>
                            </div>
                            <div class="memberTagMap memberTagTab DBG">
                                <div class="memberTagMapArea">
                                    <div id="mapIdDBG" class="memberMapId"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="memberTab Ord">
                        <hr>
                        <div class ="memberOrdTitle">
                            <div class="memberOrdNo"><p>訂單編號</p></div>
                            <div class="memberOrdData"><p>訂單日期</p></div>
                            <div class="memberOrdName"><p>商品名稱</p></div>
                            <div class="memberOrdPrice"><p>訂單金額</p></div>
                        </div>
                        <hr>
                        <div class="memberOrderContent" v-for="order in orders">
                            <div class="memberOrdNo"><p>{{ order.orderNo }}</p></div>
                            <div class="memberOrdData"><p>{{ order.itemNo }}</p></div>
                            <div class="memberOrdName"><p>{{ order.itemNo }}</p></div>
                            <div class="memberOrdPrice"><p>${{ order.itemPrice }}</p></div>

                        <!-- <ul class="memberPagination">
                            <li>1</li>
                            <li>2</li>
                            <li>3</li>
                        </ul> -->
                        </div>
                    </div>

                    <div class="memberTab Fav">
                        <!-- <hr>
                        <div class ="memberFavTitle">
                            <div class="memberFavImg"><p>商品圖片</p></div>
                            <div class="memberOrdName"><p>商品名稱</p></div>
                            <div class="memberOrdBtn"></div>
                        </div>
                        <hr> -->
                        <div class="memberFavCourse"  v-for = "fav in favs">
                            <div class="memberFavContainerImg">
                                <img src="./img/trainer/coast.jpg">
                            </div>
                            <div class="memberFavContainerName">
                                <p>{{ fav.favoriteNo }}</p>
                            </div>
                            <div class="memberFavContainerBtn">
                                <div class="memberFavInfBtn demo-btn">
                                    <a href="#campaign">
                                        加入購物車
                                    </a>
                                </div>
                                <div class="memberDelBtn">
                                    <i class="fas fa-trash DelFav"></i>
                                </div>
                            </div>
                        </div>
                        <!-- <ul class="memberPagination">
                            <li>1</li>
                            <li>2</li>
                            <li>3</li>
                        </ul> -->
                    </div>
                
                    <div class="memberInfor memberIF">
                        <div class="memberInforTitle">
                            <h4>會員個人資料</h4>
                        </div>
                        <div class="memberInforArea">
                            <form action="#" method="POST">
                                <table v-for="user in users">
                                    <tr>
                                        <th>會員帳號：</th>
                                        <td>{{ user.memId }}</td>
                                    </tr>
                                    <tr>
                                        <th>會員密碼：</th>
                                        <td>{{ user.memPsw }}</td>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <td><div class="show_cpw demo-btn"><p>密碼修改</p></div></td>
                                    </tr>
                                    <tr>
                                        <th>會員姓名：</th>
                                        <td>{{ user.memName }}</td>
                                    </tr>
                                    <tr>
                                        <th>OW證照：</th>
                                        <td>{{ user.licenseOw }}</td>
                                    </tr>
                                    <tr>
                                        <th>AOW證照：</th>
                                        <td>{{ user.licenseAow }}</td>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <td><div class="show_cli demo-btn"><p>證照填寫</p></div></td>
                                    </tr>
                                    <tr>
                                        <th>會員信箱：</th>
                                        <td>{{ user.memMail }}</td>
                                    </tr>
                                </table>
                            </form>
                        </div>
                        <div class="memberInforBtn">
                            <!-- <button type="button" class="show_cmif demo-btn">編輯資料</button> -->
                            <button type="button" class="show_cmif demo-btn" @click="selectUser(user);" >編輯資料</button>
                        </div>
                    </div>

                    <div class="memberInfor memberIFC">
                        <div class="memberInforTitle">
                            <h4>個人資料編輯</h4>
                        </div>
                        <div class="memberInforArea">
                            <form action="#" method="POST">
                                <table v-for="user in users">
                                    <tr>
                                        <th>會員姓名：</th>
                                        <!-- <td><input type="text" class="demo-input1"></td> -->
                                        <td><input type="text" class="demo-input1" v-model="currentUser.memName"></td>
                                    </tr>
                                    <tr>
                                        <th>會員信箱：</th>
                                        <!-- <td><input type="text" class="demo-input1"></td> -->
                                        <td><input type="text" class="demo-input1" v-model="currentUser.memMail"></td>
                                    </tr>
                                </table>
                                <div class="memberInforBtn">
                                    <!-- <button type="button" class="show_mif demo-btn">確認修改</button> -->
                                    <button type="button" class="show_mif demo-btn" @click="updateUsers();">確認修改</button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="memberInfor memberPSC">
                        <div class="memberInforTitle">
                            <h4>密碼修改</h4>
                        </div>
                        <div class="memberInforArea">
                            <form action="#" method="POST">
                                <table>
                                    <tr>
                                        <th>請輸入舊密碼：</th>
                                        <td><input type="password" class="demo-input6"></td>
                                    </tr>
                                    <tr>
                                        <th>請輸入新密碼：</th>
                                        <td><input type="password"  class="demo-input6"></td>
                                    </tr>
                                    <tr>
                                        <th>請輸入新密碼：</th>
                                        <td><input type="password" class="demo-input6"></td>
                                    </tr>
                                </table>
                                <div class="memberInforBtn">
                                    <button type="button" class="show_mif demo-btn">確認修改</button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="memberInfor memberLIC">
                        <div class="memberInforTitle">
                            <h4>證照審查</h4>
                        </div>
                        <div class="memberInforArea">
                            <form action="#" method="POST">
                                <table>
                                    <tr>
                                        <th>請輸入OW字號：</th>
                                        <td><input type="text" class="demo-input1"></td>
                                    </tr>
                                    <tr>
                                        <th>請輸入AOW字號：</th>
                                        <td><input type="text" class="demo-input1"></td>
                                    </tr>
                                </table>
                                <div class="memberInforBtn show_mif">
                                    <button type="button" class="demo-btn">送出</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

       

    </div>

    @@include('./layout/footer.html')

    <script src="./js/login.js"></script>
    <script src="./js/member.js"></script>
</body>

</html>