<header>
    <h1 class="logo">海中日子 Divein
        <a href="./main.html"><img src="./img/header/logo.png" alt="logo"></a>
    </h1>
    <div class="nav">
        <ul>
            <li class="recommend_nav">
                <a href="./spot.html">潛點推薦</a>
            </li>
            <li class="course_nav">
                <a href="./course.html">潛水課程</a>
            </li>
            <li class="shop_nav">
                <a href="./shop.html">潛水商城</a>
            </li>
            <li class="blog_nav">
                <a href="./diary.html">潛水日誌</a>
            </li>
            <li class="game_nav">
                <a href="./gameIntro.html">下潛遊戲</a>
            </li>
        </ul>
    </div>
    <div class="memCart">
        <ul>
            <li>HI,Billy</li>
            <li><a href="./memberLogin.html"><img src="./img/header/member.png"></a></li>
            <li><a href="javascript:;"><img src="./img/header/cart.png"></a></li>
        </ul>
    </div>
    <button class="hamburger hamburger--3dxy" type="button">
        <span class="hamburger-box">
            <span class="hamburger-inner"></span>
        </span>
    </button>
</header>