<div class="lightbox-auditList lightbox-block2">
    <div class="auditList lightbox2">
        <div class="button_closeBox2">
            <button type="button" class="btn_modal_close auditClose">✖</button>
        </div>
        <div class="courseInfo">
            <p>潛水體驗班</p>
            <p>上課日期：09/20 - 09/24</p>
            <p>上課地點：大白沙</p>
            <p>學員人數：5 / 5 人</p>
        </div>
        <div class="avatar">
            <table>
                <tr>
                    <th>學員</th>
                    <th>姓名</th>
                    <th>通過/不通過</th>
                    <th>狀態</th>
                </tr>
                <tr>
                    <td><img src="./img/trainer/character_2.png"></td>
                    <td>多啦美</td>
                    <td>
                        <button class="btn audit">通過</button>
                        <button class="btn audit">不通過</button>
                    </td>
                    <td><i class="fas fa-check"></i></td>
                </tr>
                <tr>
                    <td><img src="./img/trainer/character_3.png"></td>
                    <td>野比大雄</td>
                    <td>
                        <button class="btn audit">通過</button>
                        <button class="btn audit">不通過</button>
                    </td>
                    <td><i class="fas fa-times"></i></td>
                </tr>
                <tr>
                    <td><img src="./img/trainer/character_4.png"></td>
                    <td>源靜香</td>
                    <td>
                        <button class="btn audit">通過</button>
                        <button class="btn audit">不通過</button>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td><img src="./img/trainer/character_5.png"></td>
                    <td>岡田虎</td>
                    <td>
                        <button class="btn audit">通過</button>
                        <button class="btn audit">不通過</button>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td><img src="./img/trainer/character_6.png"></td>
                    <td>谷川小夫</td>
                    <td>
                        <button class="btn audit">通過</button>
                        <button class="btn audit">不通過</button>
                    </td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
</div>
