<div class="lightbox-nameList lightbox-block2">
    <div class="nameList lightbox2">
        <div class="button_closeBox2">
            <button type="button" class="btn_modal_close">✖</button>
        </div>
        <div class="courseInfo">
            <p>潛水體驗班</p>
            <p>上課日期：09/20 - 09/24</p>
            <p>上課地點：大白沙</p>
            <p>學員人數：5 / 5 人</p>
        </div>
        <div class="avatar">
            <table>
                <tr>
                    <th>學員</th>
                    <th>姓名</th>
                    <th>報名日期</th>
                </tr>
                <tr>
                    <td><img src="./img/trainer/character_2.png"></td>
                    <td>多啦美</td>
                    <td>2020/09/01</td>
                </tr>
                <tr>
                    <td><img src="./img/trainer/character_3.png"></td>
                    <td>野比大雄</td>
                    <td>2020/09/05</td>
                </tr>
                <tr>
                    <td><img src="./img/trainer/character_4.png"></td>
                    <td>源靜香</td>
                    <td>2020/09/19</td>
                </tr>
                <tr>
                    <td><img src="./img/trainer/character_5.png"></td>
                    <td>岡田虎</td>
                    <td>2020/09/16</td>
                </tr>
                <tr>
                    <td><img src="./img/trainer/character_6.png"></td>
                    <td>谷川小夫</td>
                    <td>2020/09/08</td>
                </tr>
            </table>
        </div>
    </div>
</div>
