/*後台樣式*/
.back {
    background-color: #03162f;
    background-image: none;
    color:  #03162f;

    img {
        max-width: 100%;
    }

    .switch {
        /* ====================ios toggle按鈕 ==================== */
        position: relative;
        display: inline-block;
        width: 50px;
        height: 30px;
    }

    .switch input {
        /* Hide default HTML checkbox */
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 20px;
        width: 20px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        transition: .4s;
    }

    input:checked+.slider {
        background-color: #2ecc71;
    }

    input:focus+.slider {
        box-shadow: 0 0 1px#2ecc71;
    }

    input:checked+.slider:before {
        transform: translateX(23px);
    }

    .slider.round {
        /* Rounded sliders */
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }

    .btn {
        /* ==================== simple btn ==================== */
        margin: 0 20px;
        border-color: #03162f ;
        font-size: 16px;
        border-radius: 7px;
        letter-spacing: 3px;
        font-family: $zh;
        background-color:#fefefe;
        color:  #03162f;
        padding: 8px 32px;
    }

    .btn:hover {
        border-color: #fefefe;
        background: #03162f;
        cursor: pointer;
        color:  #fefefe;
    }

    .btn.logout{
        margin: 20px 0;
    }

    .btn.classAudit{
        border: 1px solid #fefefe;
        margin: 10px 0;
        padding: 0;
        width: 100px;
    }

    input {
        /* ==================== input ==================== */
        background: #fefefe;
        padding: 3px 2px;
        border-radius: 5px;
        color: #176587;
    }

    img[alt=logo] {
        height: 80px;
        width: auto;
    }

    .profile {
        text-align: center;

        p {
            display: inline-block;
            line-height: 20px;
            color: $keyWhite;
        }
    }
    

    .tab_container {
        /* ==================== 頁籤區塊 ==================== */
        display: flex;

        .tab_list{
            display: flex;
            flex-direction: column;
        }

        .tab_list_block {
            display: inline-block;
            height: 100vh;

            li{
                width: 125px;
                padding: 5px 0;
                justify-content: space-around;

                &.-on{
                    background: #fefefe;
                }
            }

            
        }
    }

 

    .tab_list li a {
        /* 頁籤列表 */
        text-decoration: none;
        display: inline-block;
        padding: 13px 5px;
        color: $keyWhite;
        width: 100%;
        
        &.-on, .back .tab_container .tab_list_block li{
            background: #fefefe;
            color: #03162f;
        }
    }

    .tab_contents {
        /* 頁籤內容區塊 */
        background: #fefefe;
        width: calc(100vw - 125px);

        .tab {
            padding: 10px;
            display: none;

            &.-on {
                display: block;
            }
        }

    }

    table {
        /* ==================== table ==================== */
        margin: 20px;
    }

    th,
    td {
        border-top: 1px solid #03162f;
        padding: 15px;
        vertical-align: middle;
    }

    table tr:last-child td {
        border-bottom: 1px solid #03162f;
    }

    input[type=password] {
        width: 150px;
    }

    .lightbox2 table{
        margin: 20px auto;
    }

    /* ==================== coco btn ==================== */
    .stopReviseBtn {
        margin: 10px 10px;
        margin-left: 0;
    }
    .spot{
        height: auto;
        background-image: none;
    }

    /* ==================== coco頁籤名稱 ==================== */
    .tab.spot .tab_list_block.spot_list_block {
        padding-left: 20px;
        margin-right: 50px;
        display: inline-block;
    }

    .tab.spot .tab_list_block.spot_list_block .tab_list.spotArae_list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        border: 1px solid #03162f;
        width: 100%;
        text-align: center;
    }

    .tab.spot .tab_list_block.spot_list_block .tab_list.spotArae_list li:hover {
        background-color: #03162f;
        color: #fefefe;
    }

    .tab_list.spotArae_list li a.spotArae_each {
        text-decoration: none;
        display: inline-block;
        padding: 13px 5px;
        width: 100%;
        color: #03162f;
    }

    .tab_list.spotArae_list li a.spotArae_each.-spoton {
        background-color:  #03162f;
        color: #fefefe;
    }

    .tab_list.spotArae_list li a.spotArae_each:hover {
        color: #fefefe;
    }

    .spot_contents .spot_point {
        display: none;
    }

    .spot_contents .spot_point.-spoton {
        display: block;
    }

    /* ==================== coco table ==================== */
    table .spot_main_list th {
        text-align: left;
    }

    .spot_main .spot_refer {
        width: 250px;
        max-width: 250px;
    }

    .spot_main .spot_refer p {
        cursor: pointer;
        display: -webkit-box; 
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .spot_main .spot_refer p:hover {
        text-decoration: underline;
    }

    .spot_main:last-child td:last-child {
        width: 150px;
    }

    .spot_more .spot_textLine {
        cursor: pointer;
    }

    .spot_more .spot_textLine:hover {
        text-decoration: underline;
    }


}