.front {
  position: relative;
  overflow: hidden;
  margin: 0;
  background: url(../img/front/undership.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  min-height: 100vh;


  @media all and (max-width: 376px) {
    body {
      background-position: 50% 0;
    }
  }

  a {
    text-decoration: none;
    color: white;
    font-size: 60px;
    display: inline-block;
  }

  @media all and (max-width: 376px) {
    a {
      font-size: 30px;
    }
  }

  .divelogobg {
    text-align: center;
    max-width: 800px;
    width: 100%;
    margin: auto;
    transform: translateY(25%);
  }

  .divelogobg>img {
    width: 30%;
  }

  .container {
    position: absolute;
    top: -10%;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    display: flex;
  }

  .bub {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
  }

  @media all and (max-width:576px) {
    .bub {
      flex-direction: column;
      justify-content: center;
      height: 100vh;
      align-items: center;
    }


  }

  .frontBubble:hover .FBubble,
  .backBubble:hover .FBubble {

    animation-name: BIG;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  @keyframes BIG {
    0% {
      transform: scale(1.2);
    }

    50% {
      transform: scale(1.3);
    }

    100% {
      transform: scale(1.2);
    }
  }

  .frontBubble,
  .backBubble {
    position: relative;
  }

  @media all and (max-width: 576px) {

    .frontBubble,
    .backBubble {
      margin: 50px;
    }
  }


  .frontBubble::before {
    content: '前台';
    display: inline-block;
    position: absolute;
    width: 250px;
    height: 250px;
    line-height: 250px;
    text-align: center;
    font-size: 60px;
    color: #fefefe;
  }

  .backBubble::before {
    content: '後台';
    display: inline-block;
    position: absolute;
    width: 250px;
    height: 250px;
    line-height: 250px;
    text-align: center;
    font-size: 60px;
    color: #fefefe;
  }

  @media all and (max-width:576px) {

    .frontBubble::before,
    .backBubble::before {
      width: 150px;
      height: 150px;
      line-height: 150px;
      font-size: 30px;
    }
  }

  .frontBubble>a>img,
  .backBubble>a>img {
    width: 250px;

    animation-name: bigsmall;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }


  @media all and (max-width: 576px) {

    .frontBubble>a>img,
    .backBubble>a>img {
      width: 150px;
    }

  }

  @keyframes bigsmall {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.1);
    }

    100% {
      transform: scale(1);
    }
  }

  .frontBase {
    font-size: 60px;
    top: 0;
    position: absolute;
    left: 5%;
    color: #FEFEFE;
  }

  .backBase {
    font-size: 60px;
    top: 0;
    position: absolute;
    left: 8%;
    color: #FEFEFE;
  }

  #parallax {
    width: 100%;
    height: calc(100vh - 200px);
    overflow-x: hidden;
    position: relative;
  }

  @media all and (max-width: 768px) {
    #parallax {
      height: 100vh;
    }
  }

  .layer1 {
    position: absolute;
    top: 20%;
    background: url(../img/front/la01.png) no-repeat;
    width: 100%;
    height: 23.125rem;
  }

  .layer2 {
    position: absolute;
    top: 30%;
    right: 0;
    background: url(../img/front/la02.png) no-repeat;
    width: 100%;
    height: 23.75rem;
  }

  .layer3 {
    position: absolute;
    bottom: 0;
    background: url(../img/front/la03.png) no-repeat;
    width: 100%;
    height: 26.875rem;
  }

  .layer4 {
    position: absolute;
    bottom: 0;
    left: 0;
    background: url(../img/front/la04.png) no-repeat;
    width: 100%;
    height: 34.875rem;
  }

  .layer5 {
    position: absolute;
    bottom: 0;
    background: url(../img/front/la05.png) no-repeat;
    width: 100%;
    height: 16.75rem;
  }

  .layer6 {
    position: absolute;
    bottom: 0;
    background: url(../img/front/la06.png) no-repeat;
    width: 100%;
    height: 28.125rem;
  }

  .layer7 {
    position: absolute;
    bottom: 0;
    right: 0;
    background: url(../img/front/la07.png) no-repeat;
    width: 100%;
    height: 13.875rem;
  }

  .layer8 {
    position: absolute;
    bottom: 0;
    background: url(../img/front/la08.png) no-repeat;
    width: 100%;
    height: 21.875rem;
  }

  .layer9 {
    position: absolute;
    bottom: 0;
    background: url(../img/front/la09.png) no-repeat;
    width: 100%;
    height: 15.625rem;
  }

  .speed1 {
    animation: sea 15s linear infinite;
    -webkit-animation: sea 15s linear infinite;
    -moz-animation: sea 15s linear infinite;
    -o-animation: sea 15s linear infinite;
  }

  .speed2 {
    animation: sea 40s linear infinite;
    -webkit-animation: sea 40s linear infinite;
    -moz-animation: sea 40s linear infinite;
    -o-animation: sea 40s linear infinite;
  }

  .speed3 {
    animation: opposite 23s cubic-bezier(0.41, 0.49, 0.6, 0.61) infinite;
    -webkit-animation: opposite 23s cubic-bezier(0.41, 0.49, 0.6, 0.61) infinite;
    -moz-animation: opposite 23s cubic-bezier(0.41, 0.49, 0.6, 0.61) infinite;
    -o-animation: opposite 23s cubic-bezier(0.41, 0.49, 0.6, 0.61) infinite;
  }

  .speed4 {
    animation: sea 39s cubic-bezier(0.27, 0.34, 0.92, 0.54) infinite;
    -webkit-animation: sea 39s cubic-bezier(0.27, 0.34, 0.92, 0.54) infinite;
    -moz-animation: sea 39s cubic-bezier(0.27, 0.34, 0.92, 0.54) infinite;
    -o-animation: sea 39s cubic-bezier(0.27, 0.34, 0.92, 0.54) infinite;
  }

  .speed5 {
    animation: opposite 50s linear infinite;
    -webkit-animation: opposite 50s linear infinite;
    -moz-animation: opposite 50s linear infinite;
    -o-animation: opposite 50s linear infinite;
  }

  @keyframes sea {
    0% {
      transform: translate(0, 0);
      -webkit-transform: translate(0, 0);
      -moz-transform: translate(0, 0);
      -o-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
    }

    100% {
      transform: translate(100%, 0);
      -webkit-transform: translate(100%, 0);
      -moz-transform: translate(100%, 0);
      -o-transform: translate(100%, 0);
      -ms-transform: translate(100%, 0);
    }
  }

  @-webkit-keyframes sea {
    0% {
      transform: translate(0, 0);
      -webkit-transform: translate(0, 0);
      -moz-transform: translate(0, 0);
      -o-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
    }

    100% {
      transform: translate(100%, 0);
      -webkit-transform: translate(100%, 0);
      -moz-transform: translate(100%, 0);
      -o-transform: translate(100%, 0);
      -ms-transform: translate(100%, 0);
    }
  }

  @keyframes opposite {
    0% {
      transform: translate(100%, 0);
      -webkit-transform: translate(100%, 0);
      -moz-transform: translate(100%, 0);
      -o-transform: translate(100%, 0);
      -ms-transform: translate(100%, 0);
    }

    100% {
      transform: translate(0, 0);
      -webkit-transform: translate(0, 0);
      -moz-transform: translate(0, 0);
      -o-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
    }
  }

  @-webkit-keyframes opposite {
    0% {
      transform: translate(100%, 0);
      -webkit-transform: translate(100%, 0);
      -moz-transform: translate(100%, 0);
      -o-transform: translate(100%, 0);
      -ms-transform: translate(100%, 0);
    }

    100% {
      transform: translate(0, 0);
      -webkit-transform: translate(0, 0);
      -moz-transform: translate(0, 0);
      -o-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
    }
  }
}